<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AjiteU - 게시글 목록</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <h2 class="page-title">게시글 목록</h2>
    <main class="main-content">
        <section class="board-area">
            <div class="category-tabs">
                <ul class="tabs-main">
                    <li class="active">전체</li>
                    <li>꿀팁</li>
                    <li>질문</li>
                    <li>후기</li>
                    <li>잡담</li>
                </ul>
                <ul class="tabs-sub">
                    <li class="active">전체</li>
                    <li>자취요리레시피</li>
                    <li>방 청소 노하우</li>
                    <li>좋은 매물 구하기</li>
                    <li>집 꾸미기</li>
                </ul>
            </div>

            <div class="board-list">
                <div class="board-item">1 게시글 제목</div>
                <div class="board-item">게시글 제목 2</div>
                <div class="board-item">게시글 제목 3</div>
                <div class="board-item">게시글 제목 4</div>
                <div class="board-item">게시글 제목 5</div>
                <div class="board-item">게시글 제목 6</div>
                <div class="board-item">게시글 제목 7</div>
                <div class="board-item">게시글 제목 8</div>
                <div class="board-item">게시글 제목 9</div>
                <div class="board-item">게시글 제목 10</div>
                <div class="board-item">게시글 제목 11</div>
                <div class="board-item">게시글 제목 12</div>
                <div class="board-item">게시글 제목 13</div>
                <div class="board-item">게시글 제목 14</div>
                <div class="board-item">게시글 제목 15</div>
                <div class="board-item">게시글 제목 16</div>
                <div class="board-item">게시글 제목 17</div>
                <div class="board-item">게시글 제목 18</div>
            </div>

            <div class="pagination">
                <span>&lt;&lt;</span>
                <span>&lt;</span>
                <span class="current">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
                <span>&gt;</span>
                <span>&gt;&gt;</span>
            </div>
        </section>

        <aside class="sidebar-right">(W 420 H 1028)</aside>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
